@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --radius-default: 0.25rem;
        --radius-sm: 0.125rem;
        --radius-md: 0.375rem;
        --radius-lg: 0.5rem;
        --radius-xl: 0.75rem;
        --radius-2xl: 1rem;
    }

    .dark {
        --tw-bg-opacity: 1;
        background-color: rgb(17 24 39 / var(--tw-bg-opacity));
        color: rgb(243 244 246 / var(--tw-text-opacity));
    }
}